<!DOCTYPE html>

<html lang="pt-br">
	
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="{{base_url()}}/css/autoload.css">
		<link rel="stylesheet" href="{{base_url()}}/css/home.css">
	</head>

	<body>

		{% block main %}
					    
		{% endblock %}
	
		<script src="https://code.jquery.com/jquery-1.12.4.min.js"integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="crossorigin="anonymous">
		</script>

		<script src="{{base_url()}}/libs/bootstrap/javascripts/bootstrap.js"></script>

	</body>
</html>