{% extends 'layouts/page_menu.twig' %}

{% block main %}


<div id="main" style="margin-top: 50px;">
	<div class="container">
		
		<div class="row" style="margin-bottom: 20px;">
			<div class="col-md-12">
				<a href="{{base_url()}}/bars/register" class="btn btn-primary">Cadastrar Bar</a>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						Bares cadastrados
					</div>

					<div class="panel-body">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>id</th>
									<th>nome</th>
									<th>estado</th>
									<th>cidade</th>
									<th>bairro</th>
									<th>numero</th>
									<th>ponto_ref</th>
									<th>cep</th>
									<th>telefone</th>
									<th>email</th>
									<th>cnpj</th>
									<th>stars</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Simple Bar</td>
									<td>Alagoas</td>
									<td>Arapiraca</td>
									<td>Baixão</td>
									<td>322</td>
									<td>Próximo a pizzaria são josé</td>
									<td>54423332</td>
									<td>923211232</td>
									<td>simplebar@gmail.com</td>
									<td>241231-22312</td>
									<td>200</td>
								</tr>
								<tr>
									<td>1</td>
									<td>Simple Bar</td>
									<td>Alagoas</td>
									<td>Arapiraca</td>
									<td>Baixão</td>
									<td>322</td>
									<td>Próximo a pizzaria são josé</td>
									<td>54423332</td>
									<td>923211232</td>
									<td>simplebar@gmail.com</td>
									<td>241231-22312</td>
									<td>200</td>
								</tr>
								<tr>
									<td>1</td>
									<td>Simple Bar</td>
									<td>Alagoas</td>
									<td>Arapiraca</td>
									<td>Baixão</td>
									<td>322</td>
									<td>Próximo a pizzaria são josé</td>
									<td>54423332</td>
									<td>923211232</td>
									<td>simplebar@gmail.com</td>
									<td>241231-22312</td>
									<td>200</td>
								</tr>
								<tr>
									<td>1</td>
									<td>Simple Bar</td>
									<td>Alagoas</td>
									<td>Arapiraca</td>
									<td>Baixão</td>
									<td>322</td>
									<td>Próximo a pizzaria são josé</td>
									<td>54423332</td>
									<td>923211232</td>
									<td>simplebar@gmail.com</td>
									<td>241231-22312</td>
									<td>200</td>
								</tr>
								<tr>
									<td>1</td>
									<td>Simple Bar</td>
									<td>Alagoas</td>
									<td>Arapiraca</td>
									<td>Baixão</td>
									<td>322</td>
									<td>Próximo a pizzaria são josé</td>
									<td>54423332</td>
									<td>923211232</td>
									<td>simplebar@gmail.com</td>
									<td>241231-22312</td>
									<td>200</td>
								</tr>
								<tr>
									<td>1</td>
									<td>Simple Bar</td>
									<td>Alagoas</td>
									<td>Arapiraca</td>
									<td>Baixão</td>
									<td>322</td>
									<td>Próximo a pizzaria são josé</td>
									<td>54423332</td>
									<td>923211232</td>
									<td>simplebar@gmail.com</td>
									<td>241231-22312</td>
									<td>200</td>
								</tr>
								<tr>
									<td>1</td>
									<td>Simple Bar</td>
									<td>Alagoas</td>
									<td>Arapiraca</td>
									<td>Baixão</td>
									<td>322</td>
									<td>Próximo a pizzaria são josé</td>
									<td>54423332</td>
									<td>923211232</td>
									<td>simplebar@gmail.com</td>
									<td>241231-22312</td>
									<td>200</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		
	</div>
</div>

{% endblock %}