{% extends 'layouts/tasks.lay.twig' %}

{% block title %}Documents of Project{% endblock %} 

{% block main %}
	

	<!-- documents div -->
		<div id="documents">
			<div class="container">
				<div class="col-md-12">
					<h1 class="title">Documentação</h1>
					
					{% for project in projects %}
						<div class="panel panel-primary">
							<div class="panel-heading"><h3>{{project.project_name}}</h3></div>
							<div class="panel-body">
								<ul class="list">
									{% for document in  documents %}
										{% if document.project_name == project.project_name %}
											<li class="element"><a href="{{base_url()}}/docs/view/{{document.doc_id}}">{{document.doc_name}}</a></li>
										{% endif %}							
									{% endfor %}
								</ul>
							</div>
						</div>
					{% endfor %}

					
				</div>
			</div>
		</div>
	<!--/ documents div -->

{% endblock %}