{% extends 'layouts/tasks.lay.twig' %}

{% block title %}Tasks of Project{% endblock %} 

{% block main %}
	
<div id="about">
	<div class="container">
		<div class="col-md-8">
			<h1>Systemaco</h1>
			<p>
				Sistema que possui o objetivo de acompanhamento diário de atividades e documentação de projetos desenvolvidos. 
			</p>

		</div>
	</div>
</div>

{% endblock %}