{% extends 'layouts/tasks.lay.twig' %}

{% block title %}Adicionar Tarefa{% endblock %} 

{% block main %}

	<!-- add tasks -->
	<div id="addTask">

		<div class="container">
				<form action="{{ path_for('task.add') }}" method="post">
					<div class="form-group col-md-4">
						<label>Tarefa</label>
						<input type="text" name="task_name" class="form-control">
					</div>

					<div class="form-group col-md-4">
						<label>Usuário</label>
						<input type="tex" name="user_name" class="form-control">
					</div>

					<div class="form-group col-md-4">
						<label>Link do Repositório/Download</label>
						<input type="text" name="task_link" class="form-control">
					</div>

					<div class="form-group col-md-4">
						<label>Projeto</label>
						<select name="project_id"  class="form-control">
							{% for project in projects %}
								<option value="{{project.project_id}}" > {{project.project_name}}</option>
							{% endfor %}
						</select>
					</div>

					<div class="form-group col-md-12">
						<label>Descrição</label>
						<textarea resizeble="false" id="task_desc" name="task_desc" class="form-control" rows="20"><h1>Modelo de Descri&ccedil;&atilde;o</h1>

<p><strong>Objetivo da tarefa </strong></p>

<p>Lorem ipsum dolor sit amet.</p>

<p><strong>Descri&ccedil;&atilde;o da tarefa</strong></p>

<p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

<p><strong>Tecnologias e Ferramentas</strong></p>

<p>utilizadas Bootstrap, Sass e PHP;</p>

						</textarea>
					</div>

					<div class="col-md-4">
						<button type="submit" class="btn btn-primary btn-block"> Adicionar</button>
					</div>
				</form>
			</div>
	</div>
	<!-- add tasks	-->

{% endblock %}

{% block scripts %}
    <script src="//cdn.ckeditor.com/4.6.1/full/ckeditor.js"></script>
    <script>
    	 CKEDITOR.replace( 'task_desc' );
    </script>
{% endblock %}